body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fffaf3;
	background-image:url("photo-1517248135467-4c7edcad34c4.avif");
    color: #333;
}

header {
    background-color: #8b3e2f;
    color: white;
    padding: 30px 20px;
    text-align: center;
}

main {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

.about h2 {
    color:#663399;
    margin-bottom: 20px;
}

.about p {
    line-height: 1.6;
    margin-bottom: 20px;
	color:#FFFFFF;
}
.about h3{
color:#663399;
}

.about ul {
    list-style-type: square;
    padding-left: 20px;
	color:#FFFFFF;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #eee;
    margin-top: 40px;
}/* CSS Document */

